

<div class="nested-fields from-group">
    <%= f.label :topic, class: "lead" %>
    <div class="row">
        <div class="col-md-10 col-sm-12 pr-0">
             <%= f.text_field :topic, class: 'form-control' %>
        </div>
        <div class="col-md-2 col-sm-12">
             <%= link_to_remove_association 'Remove Tag',f, class: 'btn btn-danger btn-sm'%>
        </div>
    </div>
</div>