

<%= form_with(model: Like.new, local: true) do |form| %>
  <div class="actions">
    <%= @blog.likes.distinct.count('user_id') %>
    <%= form.hidden_field 'blog_id', :value => params[:id] %>
    <%= form.submit('Hit a like!') %>
  </div>
<% end %>
