

<%= form_with(model: Like.new, local: true) do |form| %>
  <div class="actions">
      <%= @blog.likes.distinct.count('user_id') %>
    <%= form.hidden_field 'blog_id', :value => params[:id] %>
    <button class="like-submit-btn" type="submit">
     <i class="far fa-3x fa-heart"></i>
    </button>
  </div>
<% end %>
