/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require gritter
 */

 @import "bootstrap";

 .pro-nav-i {
    width: 29px;
    height: 30px;
    margin-top: 8px;
    border-radius: 5px;
 }

 .nav-link:hover{
     text-decoration: underline;
 }
// =========================== Devise Login ========================
 .u-mt {
    margin-top: 60px !important;
 }
 .fa-google {
     color: #00ffe7 !important;
 }
 
@media (min-width: 1200px){
    .u-cont-width{
        max-width: 538px !important;
    }
}
// ========================== ...Devise Login =====================