<%= form_with(model: BlogComment.new, local: true) do |form| %>
  <div class="actions">
    <%= form.hidden_field 'blog_id', :value => params[:id] %>
    <div class="field">
        <h5>Add a Comment:</h5>
        <%= form.text_area :comment, class: 'comment-textarea' %>
    </div>
    <button class="btn btn-sm btn-primary" type="submit">Add Comment</button>
  </div>
<% end %>